<h1> <%= @post.title %></h1>
<p><%= @post.content %></p>

<h3>Categories</h3>
<% @post.categories.each do |cat| %>
  <%= link_to cat.name, cat %>
<% end %>

<h3>Comment</h3>
<ul>
    <% @post.comments.each do |comment| %>
      <li><%= comment.user.username %> says: <%= comment.content %></li>
    <% end %>
  </ul>

<h3>Commenters</h3>
<ul>
  <% @post.users.uniq.each do |user| %> #make sure each user is unique
    <li><%= link_to user.username, user %></li>
  <% end %>
</ul>

<h2>Post your Comment</h2>
<%= form_for @post.comments.build do |form| %>
  <%= form.label "Content" %>
  <%= form.text_field :content %>
  <%= form.collection_select :user_id, User.all, :id, :username, include_blank: 'Choose your User' %>
  <%= form.fields_for :user, @post.comments.last.build_user do |user_fields| %>
    <%= user_fields.text_field :username %>
  <% end %>
  <%= form.submit %>
<% end %>
